In [1]:
import pandas as pd

In [2]:
list = [1,2,3,4]

In [3]:
# creating series
s = pd.Series(list)
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
#Changing the Data type
s = pd.Series(list, dtype=float)
s

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [5]:
#changing the index
s = pd.Series(list, dtype=float, index=['A','B','C','D'])
s

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64

In [6]:
#merging more than on series
x = pd.Series(['ali','aziz'])
y = pd.Series(['rose','nora'])

In [7]:
z = pd.concat([x,y])

In [8]:
z

0     ali
1    aziz
0    rose
1    nora
dtype: object

In [9]:
#index is the same which can be ignored
z = pd.concat([x,y], ignore_index=True)
z

0     ali
1    aziz
2    rose
3    nora
dtype: object

In [10]:
#removing data
a = pd.Series({10:'A',20:'B',30:'C',40:'D',50:'B'})
a

10    A
20    B
30    C
40    D
50    B
dtype: object

In [13]:
#The drop function returns a series without the removed element but does not modify the original series
a.drop(30)
a

10    A
20    B
30    C
40    D
50    B
dtype: object

In [14]:
b = a.drop(30)
b

10    A
20    B
40    D
50    B
dtype: object

In [15]:
#but it can modify
a.drop(30, inplace=True)
a

10    A
20    B
40    D
50    B
dtype: object

In [16]:
#removing the duplicates data
a = pd.Series([1,2,2,3,4,4,4,5,5,6,7,7])

In [18]:
a.drop_duplicates(inplace=True)
a

0     1
1     2
3     3
4     4
7     5
9     6
10    7
dtype: int64

In [19]:
#Copying series
s = pd.Series([1,2,3])
d = s.copy()

In [20]:
d

0    1
1    2
2    3
dtype: int64

In [21]:
d.drop(0,inplace=True)
d

1    2
2    3
dtype: int64

In [22]:
s#nothing changes

0    1
1    2
2    3
dtype: int64

In [24]:
#mathematical Operations

In [27]:
s = pd.Series([i for i in range(1,10)])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [29]:
# the add function that Returns a  Series
x = s.add(5)
x

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [31]:
s#still the same

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [32]:
# the sub function that Returns a  Series
x = x.sub(5)
x

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [33]:
# the mul function that Returns a  Series
x = x.mul(5)
x

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
dtype: int64

In [34]:
# the div function that Returns a  Series
x = x.div(2)
x

0     2.5
1     5.0
2     7.5
3    10.0
4    12.5
5    15.0
6    17.5
7    20.0
8    22.5
dtype: float64